h1 {
    color: red;
    text-align: center;
}

p {
    font-style: italic;
    font-size: large;
}

button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
    background-color: rgb(234, 243, 246);
    font-weight: bold;
    height: 30px;
    width: 70px;
}